<% provide(:title, 'About Hockey Ranking Hub') %>

<div class="container">
  <h2>About</h2>
  <p>Hockey Ranking Hub is a ranking site that tracks how well minor hockey teams are doing and assigns them a ranking.</p>
  
  <p>It ranks hockey teams by using a ELO system.</p>
  
  <p>The ELO formula is provided by this website <a href="http://hockeyanalytics.com/2016/07/elo-ratings-for-the-nhl/">here </a> </p>
  </div>
</div>
