<header class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
    <%= link_to "HOCKEY RANKING HUB", root_path, id:'logo'  %>
    <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Seasons", team_index_path %></li>
        </ul>
    </nav>
    </div>
</header>